.comments-slider{
  position: relative;
  overflow: hidden;
  width: 100%;

  @include tablets {
    width: 80%;
  }
}

.comments__list {
  width: 300%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  white-space: nowrap;
  font-size: 0;
  transition: .5s;
}

.comments-item {
  width: 33.3333333333333333333333%;
  margin-top: rem(50px);
  height: rem(345px);
  background-color: #f8faf9;
  position: relative;
  white-space: normal;
  display: inline-flex;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: rem(127px);
    height: rem(167px);
    background: url('./img/comments/comments-item-pic.png') center center / cover no-repeat;
    right: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(90px);
    height: rem(45px);
    background-color: #fff;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

    left: 50%;
    transform: translateX(-50%);
    top: rem(-20px);
  }

  @include tablets {
    flex-direction: column;
    height: 100%;
    align-items: center;

    &:before{
      height: rem(157px);
    }
  }

  @include phones {
    flex-direction: column;
    margin-top: rem(34px);
    height: 100%;
    padding: 0 rem(1px);
  }
}



.comments-item__pic {
  margin-left: rem(45px);
  margin-top: rem(50px);
  width: rem(253px);
  object-fit: cover;
  z-index: 10;

  @include tablets {
    margin-left: 0;
    width: rem(203px);
  }

  @include phones {
    width: rem(124px);
  }
}

.comments-item__photo {
  display: block;
  width: rem(253px);
  height: rem(259px);
  object-fit: cover;
  object-position: center;

  @include tablets {
    width: rem(203px);
    height: rem(207px);
  }

  @include phones {
    width: rem(124px);
    height: rem(121px);
  }
}

.comments-item__info {
  margin-top: rem(65px);
  width: rem(436px);
  margin-left: rem(16px);
  z-index: 10;

  @include tablets {
    width: unset;
    margin-top: unset;
    text-align: center; 
    margin-left: 0;
    padding-bottom: rem(16px);
  }
}

.comments-item__title {
  font-size: 30px;
  font-weight: 300;

  @include tablets {
   margin-top: rem(20px); 
  }

  @include phones {
    margin-top: rem(23px);
  }
}

.comments-item__text {
  font-size: 18px;
  font-weight: 100;
  padding: rem(10px);

}

.comments-item__author {
  font-size: 18px;
  font-weight: 300;
  padding-top: rem(30px);
}