.comments__list {
  display: flex;
  flex-direction: row;
  
}

.comments-item {
  height: rem(345px);
  margin-top: rem(45px);
  background-color: #f8faf9;
  position: relative;
  display: none;
  opacity: 0;

  &--active{
    display: block;
    opacity: 1;
  }

  @include phones {
    padding: 0 rem(1px);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: rem(127px);
    height: rem(167px);
    background: url('./img/comments/comments-item-pic.png') center center / cover no-repeat;
    right: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(90px);
    height: rem(45px);
    background-color: #fff;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

    left: 50%;
    transform: translateX(-50%);
    top: rem(-20px);
  }

  @include tablets {
    height: rem(660px);
    width: rem(460px);

    &:before{
      width: rem(117px);
      height: rem(157px);
    }
  }

  @include phones {
    margin-top: rem(34px);
    height: rem(540px);
    width: rem(460px);
  }
}

.comments-item__data {
  display: flex;
  justify-content: space-between;
  padding: rem(50px) rem(185px) rem(35px) rem(45px);

  @include tablets {
    flex-direction: column;
    padding: rem(50px) 0 rem(35px);
    align-items: center;
  }
}

.comments-item__pic {
  width: rem(253px);
  object-fit: cover;

  @include tablets {
    width: rem(203px);
  }

  @include phones {
    width: rem(124px);
  }
}

.comments-item__photo {
  display: block;
  width: rem(253px);
  height: rem(259px);
  object-fit: cover;
  object-position: center;

  @include tablets {
    width: rem(203px);
    height: rem(207px);
  }

  @include phones {
    width: rem(124px);
    height: rem(121px);
  }
}

.comments-item__info {
  width: rem(436px);
  margin-left: rem(16px);

  @include tablets {
   text-align: center; 
  }
}

.comments-item__title {
  font-size: 30px;
  font-weight: 300;

  @include tablets {
   margin-top: rem(35px); 
  }

  @include phones {
    margin-top: rem(23px);
  }
}

.comments-item__text {
  font-size: 18px;
  font-weight: 100;
  padding: rem(10px);
}

.comments-item__author {
  font-size: 18px;
  font-weight: 300;
  padding-top: rem(30px);

  &--two{
    padding-top: 0;
  }
}