.header__menu {
  display: flex;
  font-size: 18px;
  line-height: 30px;
  padding-top: rem(5px);

  @include tablets {
    display: none;
  }
  
  @include phones {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header__menu-item {
  margin-left: rem(28px);
  transition: .3s;

  &:hover {
    text-decoration: underline;
  }

  &:first-child{
    margin-left: 0;
  }
}