.last  {
  font-size: 21px;
  position: relative;
}

.map {
height: 86%;
}

.map__hint {
  font-size: 16px;
  font-family: alegreya_sans;
}

.map__balloon {
  font-family: alegreya_sans;
  font-size: 16px;
}

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  height: 14%;
  width: 100%;

  @include phones {
    height: rem(170px);
  }
}

.footer__container{
  display: flex;
  flex-direction: row;

  @include phones {
    flex-direction: column;
  }
}

.footer__item {
  width: 50%;
  margin-top: 1.28em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--right{
    flex-direction: row;
    justify-content: flex-end;
  }

  @include phones {
    width: 100%;
    align-items: center;

    &--right{
      justify-content: center;
      margin-top: rem(12px);
    }
  }
}

.footer__social-link {
  padding-left: .7em;
}

.footer__social-pic {
  width: .9em;
  height: .9em;
  fill:#B3B3B3;

  &:hover{
    fill: #000;
  }
}