
.menu__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  @include phones {
    justify-content: flex-end;
    width: 100%;
  }
}

.menu__item {
  position: relative;
  display: flex;
  z-index: 8;

  &--active {

    @include phones {
      z-index: 20;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .menu__item-title {
      &:nth-child(2) {
        display: block;
      }
    }
  

    .menu__item-desc {
      position: initial;
      transform: translate(0);
      opacity: 1;
    }

    .menu__item-info {
      max-width: rem(540px);
      width: 100%;
      flex: 1;
    }
    
    @include tablets  {
      .menu__item-info{
        max-width: rem(530px);
      }
      .menu__item-close {
        display: block; 
      }
    }
  }
}

.menu__item-title {
  width: rem(80px);
  background-size: cover;
  position: relative;
  cursor: pointer;

  &:nth-child(2) {
    display: none;
    position: absolute;
    opacity: .8;
    top:0;
    bottom:0;
    right: 0;
    z-index: -10;

    @include phones {
      right: rem(130px);
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &--milk {
    background-image: url("./img/menu/milk.jpg");
    background-position: center;
  }

  &--fruits {
    background-image: url("./img/menu/fruits.jpg");
    background-position: center;
  }

  &--berries {
    background-image: url("./img/menu/berries.jpg");
    background-position: center;
  }

  @include tablets {
    min-width: rem(60px);
  }

  @include phones {
    min-width: rem(50px);
  }
}

.menu__item-name {
  font-size: 48px;
  font-weight: 300;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: -3%;
}

.menu__item-info {
  background: rgba(#2f3234, .93);
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
  position: relative;
}

.menu__item-close{
  display: none;
  position: absolute;
  width: rem(27px);
  height: rem(27px);
  right: 3%;
  top: 3%;
  z-index: 30;
  cursor: pointer;
}

.close {
  position: relative;
  width: rem(27px);
  height: rem(27px);
  
  &:before {
    content: "";
    position: absolute;
    display: block;
    z-index: 100;
    width: rem(24px);
    border: 2px solid #fff;
    border-radius: 25px;
    top: 50%;
    transform: rotate(-45deg);
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    z-index: 100;
    width: rem(24px);
    border: 2px solid #fff;
    border-radius: 25px;
    top: 50%;
    transform: rotate(45deg);
    transition: .3s;
  }
}

.menu__item-desc {
  position: absolute;
  line-height: rem(24px);
  font-size: 16px;
  padding: rem(55px) rem(100px) rem(55px) rem(34px);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 4s cubic-bezier(0.645, 0.045, 0.355, 1), transform 3s cubic-bezier(0.645, 0.045, 0.355, 1);

  @include phones {
    padding: rem(75px) rem(15px);
  }
}