.navigation {
  padding-top: rem(480px);
  
  @include tablets {
    padding-top: rem(624px);
  }

  @include phones {
    padding-top: rem(608px);
  }
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation__item {
  width: rem(79px);
  height: rem(79px);
  border-radius: 50%;
  border: rem(7px) solid #fff;
  transition: 0.3s;
  z-index: 20;

  &--active {
    border-color: #0f5a47;
  }
}

.navigation__link {
  display: inline-block;
  width: rem(79px);
  height: rem(79px);
  border-radius: 50%;
}

.navigation__pic {
  display: block;
  object-fit: cover;
  object-position: center;
  width: rem(65px);
  height: rem(65px);
  border-radius: 50%;
}


