.overlay{
  position: absolute;
  top: 99999px;
  transition: .5s;
  
  &--active{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #313436;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    color: black;
    opacity: .99;
    overflow: hidden;
    transition: .5s;
  }
}

.overlay__messege{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(300px);
  height: rem(170px);
  background: #fff;
}

.overlay__messege-text{
  font-size: 18px;
}