.side-menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: rem(40px);
  width: rem(16px);
  height: rem(144px);
  z-index: 25;

  @include tablets {
    display: none;
  }
}

.side-menu__item {
  cursor: pointer;
  margin-top: rem(16px);
  display: block;
  width: rem(6px);
  height: rem(6px);
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  margin-left: rem(5px);
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

.side-menu__link {
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid #fff;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--active,&:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

