.video {
  background-color: #f8faf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: url('./img/video/video-fruit.png');
    height: rem(264px);
    width: rem(197px);
    right: 0;
    bottom: rem(-105px);
    z-index: 1;
  }
}

.video__container {
  flex-direction: column;
  align-items: center;
}

.video__title {
  margin-top: rem(70px);
}

.media-wrapper {
  position: relative;
  width: 78%;
  margin-top: rem(50px);

  &:after {
    content: "";
    position: absolute;
    background: url('./img/video/video-bg.png');
    width: rem(911px);
    height: rem(501px);
    top: rem(-70px);
    left: rem(-126px);

    @include tablets {
      display: none;
    }
  }
}
//https://www.youtube.com/embed/lIQxzE0Aw_g?controls=0&disablekb=0&showinfo=0&rel=0&autoplay=0&modestbranding=0&wmode=opaque&enablejsapi=1&origin=https%3A%2F%2Fvveksler.github.io&widgetid=1
//https://www.youtube.com/embed/dQw4w9WgXcQ

