.comments {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;

  @include tablets {
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: rem(139px);
    height: rem(312px);
    background: url('../../img/comments/fruits-left.png') center center /cover no-repeat;
    left: 0;
    bottom: rem(-140px);
    z-index: 5;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: rem(150px);
    height: rem(86px);
    background: url('../../img/comments/fruits-right.png') center center /cover no-repeat;
    right: 0;
    top: rem(35px);
    z-index: 5;
  }
}

.comments__container {
  height: 100%;

  @include tablets {
  align-items: center;
  }
}

.comments__title {
  padding-top: rem(69px);
}