.comments-item {
  height: 345px;
  margin-top: 45px;
  background-color: #f8faf9;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 127px;
    height: 167px;
    background: url('../../img/comments/comments-item-pic.png') center center no-repeat;
    right: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
}

.comments-item__data {
  display: flex;
  justify-content: space-between;
  padding: 50px 185px 35px 45px;
}

.comments-item__pic {
  width: 253px;
}

.comments-item__photo {
  display: block;
  width: 253px;
  height: 259px;
  object-fit: cover;
  object-position: center;
}

.comments-item__info {
  width: 436px;
}

.comments-item__title {
  font-size: 30px;
  font-weight: 300;
}

.comments-item__text {
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
}

.comments-item__author {
  font-size: 18px;
  font-weight: 300;
  padding-top: 30px;
}