.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  position: relative; }
  .comments:before {
    content: "";
    position: absolute;
    display: block;
    width: 139px;
    height: 312px;
    background: url("../../img/comments/fruits-left.png") center center no-repeat;
    left: 0;
    bottom: -140px;
    z-index: 5; }
  .comments:after {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 86px;
    background: url("../../img/comments/fruits-right.png") center center no-repeat;
    right: 0;
    top: 35px;
    z-index: 5; }

.comments__container {
  height: 100%; }

.comments__title {
  padding-top: 10.7%; }
