.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../../img/comments/comments-bg.jpg") center center/cover no-repeat;
  position: relative; }
  .comments:before {
    content: "";
    position: absolute;
    display: block;
    width: 139px;
    height: 312px;
    background: url("../../img/comments/fruits.png") center center no-repeat;
    left: 0;
    bottom: -140px;
    z-index: 5; }

.comments__container {
  height: 100%; }

.comments-title {
  padding-top: 70px; }
