.contacts {
  padding-top: 5px;
}

.contacts__phone{
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  position: relative;
  &:before {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    background: url('../../img/hero/phone.png') center center no-repeat;
    position: absolute;
    cursor: pointer;
    left: -16px;
    top: 11px;
  }
}