.features-list {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
}

.features-list__item {
  display: flex;

  &:first-child {
    margin-left: 0;
  }
}

.features__desc {
  margin-left:11px;
  width: 90px;
}

.features__img {
  width: 60px;
  height: 60px;
}

.features__img-icon {
  fill:none;
  stroke:#b0f7ff;
  stroke-width:0.5;
  stroke-miterlimit:10;
}
