.features {
  color: #fff;

  @include tablets {
    margin-top: rem(55px);
  }

  @include phones {
    margin-top: rem(44px);
  }
}

.features__list {
  display: flex;
  flex-direction: row;

  @include tablets {
    justify-content: space-evenly;
  }

  @include phones {
    justify-content: space-between;
  }
}

.features__list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(2) .features__desc {
    margin-left:rem(11px);
  }
}

.features__desc {
  width: rem(90px);
}

.features__img {
  width: rem(60px);
  height: rem(60px);
}

.features__img-icon {
  fill:none;
  stroke:#b0f7ff;
  stroke-width:0.5;
  stroke-miterlimit:10;
}
