.features {
  color: #fff; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.features__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .features__list-item:first-child {
    margin-left: 0; }

.features__desc {
  margin-left: 11px;
  width: 90px; }

.features__img {
  width: 60px;
  height: 60px; }

.features__img-icon {
  fill: none;
  stroke: #b0f7ff;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }
