.hamburger {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height:100vh;

  @include tablets {
    display: block;
  }
}

.hamburger__nemu {
  position: relative;
  width: 100%;
  height: rem(1100px);
}

.hamburger__nemu--active {
  position: relative;
  width: 100%;
  height: rem(1100px);
}

.hamburger__menu-data{
  position: absolute;
  width: rem(30px);
  height: rem(30px);
  top: rem(25px);
  right: rem(24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  z-index: 100;
}

.hamburger__menu-item {
  width: rem(24px);
  border: 2px solid #fff;
  border-radius: 5px;
  position: relative;
  transition: .3s;

  &:after {
    position: absolute;
    content: "";
    bottom: 7px;
    right: -2px;
    width: rem(20px);
    border: 2px solid #fff;
    border-radius: 5px;
    transition: .3s;
  }

  &:before {
    position: absolute;
    content: "";
    top: 7px;
    right: -2px;
    width: rem(20px);
    border: 2px solid #fff;
    border-radius: 5px;
    transition: .3s;
  }
}

.hamburger__menu--active{
  .hamburger__menu-item {
    border: unset;

    &:after{
      bottom: -2px;
      transform: rotate(45deg);
    }

    &:before{
      top: -2px;
      transform: rotate(-45deg);
    }
  }
}