.header__menu {
  display: flex;
  font-size: 18px;
  line-height: 30px;
  padding-top: 5px;
}
.header__menu-list {
  display: flex;
  justify-content: space-around;
}

.header__menu-item {
  margin-left: 28px;

  &:first-child{
    margin-left: 0;
  }
}