.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #61c4d9;
  background-image: url('../../img/hero/hero-bg-pic.png');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  justify-content: center;

  &:before{
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/hero/fruits-left.png') no-repeat;
    width: rem(59px);
    height: rem(112px);
    bottom: rem(-46px);
    left: rem(33px);
    z-index: 5;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/hero/fruits-right.png') no-repeat;
    width: rem(460px);
    height: rem(341px);
    bottom: rem(-46px);
    right: rem(92px);
    z-index: 5;
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }
  }
}

.hero__container {
  height: 100%;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.hero__desc {
  max-width: 50%;
  color: #fff;
  @include tablets {
    max-width: 100%;
    text-align: center;
  }
}

.hero__pic {
  max-width: 50%;
  
  @include tablets {
    max-width: 100%;
    order: -10;
  }
}

.hero__pic-desktop {
  display: block;

  @include tablets {
    display: none;
  }
}

.hero__pic-tablets {
  display: none;
  
  @include tablets {
    display: block;
  }
}