.menu {
  background: url('../../img/menu/menu-bg.jpg') center center / cover no-repeat;
  color: #fff;
}

.menu__container {
  height: 100%;
  width:inherit;
  display: flex;
  flex-direction: row;
}

.menu__title {
  width: 70%;
}

.menu__title-item {
  padding-left: 19%;
  padding-top: 16%;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}