.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 30px;
  padding-top: 5px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.menu__list-item {
  margin-left: 28px; }
  .menu__list-item:first-child {
    margin-left: 0; }
