.navigation {
  padding-top: 22px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.navigation__item {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  border: 7px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .navigation__item--active {
    border-color: #0f5a47; }

.navigation__link {
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%; }

.navigation__pic {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 65px;
  height: 65px;
  border-radius: 50%; }
