.btn-form {
  margin-top: rem(56px);

  @include phones {
    margin-top: rem(25px);
  }
}

.order-btn {
  cursor: pointer;
  background-color: #0f5a47;
  border-radius: 40px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 1.0625rem 2.15625rem;

  &--hero{
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.205);
    color: #0f5a47;
    
  }
}

