.properties {
  margin-top: 60px;
}

.properties__list {
  display: flex;
  justify-content: space-around;
}

.properties__list-item {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.properties__list-item-pic {
  width: 130px;
  height: 130px;
  background-color: #f2f5f4;
  border-radius: 50%;
  position: relative;

  &--dots:before {
    content: "";
    display: block;
    position: absolute;
    height: 21px;
    width: 65px;
    background: url(../../img/about/properties-dots.png) center center no-repeat;
    right: 185px;
    top: 50px;
  }
}

.properties__list-item-pic-icon {
  fill: none;
  stroke: black;
  stroke-width:0.75;
  stroke-miterlimit:10;
}

.properties__list-item-title {
  padding-top: 30px;
  font-size: 27px;
  font-weight: 700;
}

.properties__list-item-desc {
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  z-index: 10;
}