.section-title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  text-align: center;

  &--delivery{
    color: inherit;

    @include phones {
      font-size: 40px;
    }
  }
}