.team  {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/team/team-fruits.png') center center no-repeat;
    width: rem(196px);
    height: rem(578px);
    top: rem(-237px);
    right: 0;
    z-index: 5;
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/team/berry.png') center center no-repeat;
    width: rem(104px);
    height: rem(114px);
    bottom: rem(-57px);
    left: 0;
    z-index: 5;
  }
}

.team__title {
  margin-top:rem(75px);
  z-index: 10;
}