.team  {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/team/team-fruits.png') center center no-repeat;
    width: 196px;
    height: 578px;
    top: -237px;
    right: 0;
    z-index: 5;
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    background: url('../../img/team/berry.png') center center no-repeat;
    width: 104px;
    height: 114px;
    bottom: -57px;
    left: 0;
    z-index: 5;
  }
}