.about {
  background: url('../../img/about/about-bg.jpg') center center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: rem(161px);
    height: rem(315px);
    background: url('../../img/about/raspberry.png') center center /cover no-repeat;
    bottom: rem(-105px);
    left: 0;
    z-index: 5;
  }

  @include phones {
    &:before{
      display: none;
    }
  }
}

.about__container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.about__desc {
  padding-top: rem(116px);

  @include tablets {
    padding-top: rem(30px);
  }

}

.about__desc-text {
  text-align: center;
  max-width: rem(420px);
}